{% extends 'baseCookbook.html' %}
{% block title %} Message {% endblock %}
{% block body %}

<div class="row">
	<nav>
		<div class="top-nav">
			<div class="nav-wrapper">
				<h2 class="red lighten-2"> <a class="page-title" href="#">Cookbook</a> </h2>
			</div>
		</div>
	</nav>
	<form class="col s12" method="post" action="{% url 'message' %}">
		<div class="row">
			
			<div class="input-field col s12">
				{{ form.recipient.label }}
				{{ form.recipient }}   
			</div>

			<div class="input-field col s12">
				{{ form.message.label }}
				{{ form.message }}	
			</div>
			<div class="input-field col s12">
				<input class="waves-effect waves-light btn right" name="" type="submit" value="send"/>
			</div>
		</div>

	</form>
</div>


{% endblock %}
